VITE_COGNITO_REGION=ap-southeast-1
VITE_COGNITO_USER_POOL_ID=ap-southeast-1_nku3f27HA
VITE_COGNITO_CLIENT_ID=6jb5epg7gts4a3pnjnkqnu3vki
VITE_COGNITO_DOMAIN=ap-southeast-1nku3f27ha.auth.ap-southeast-1.amazoncognito.com
VITE_COGNITO_REDIRECT_SIGN_IN=http://localhost:5173/auth/callback
VITE_COGNITO_REDIRECT_SIGN_OUT=http://localhost:5173/
VITE_API_URL=http://localhost:3000/api/v1
