NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/startups_blogs?schema=public
CORS_ORIGINS=http://localhost:5173
COGNITO_REGION=ap-southeast-1
COGNITO_USER_POOL_ID=ap-southeast-1_nku3f27HA
COGNITO_CLIENT_ID=6jb5epg7gts4a3pnjnkqnu3vki
AWS_REGION=ap-southeast-1
S3_PUBLIC_BUCKET=startups-blogs-public-dev
S3_PRIVATE_BUCKET=startups-blogs-private-dev
PRESIGNED_URL_TTL_SECONDS=300
